
<div class="row">
  <div class="col-md-2">
<div class="contactUs">
  <div ng-show="lang == 'ar'">
    <table>
      <tbody>
      <tr>
        <td>تلفون</td>
        <td>:</td>
        <td><a href="tel:0096265300700">0096265300700</a></td>
      </tr>
      <tr>
        <td>فاكس</td>
        <td>:</td>
        <td>0096265300710</td>
      </tr>
      <tr>
        <td>ص.ب</td>
        <td>:</td>
        <td>2015 عمان 111181 الاردن</td>
      </tr>
      <tr>
        <td>البريد الإلكتروني</td>
        <td>:</td>
        <td><a href="mailto:GISWEB@DOS.GOV.JO">GISWEB@DOS.GOV.JO</a></td>
      </tr>
    </tbody>
    </table>
  </div>
  <div ng-show="lang != 'ar'">
    <table>
      <tbody>
      <tr>
        <td>Tel</td>
        <td>:</td>
        <td><a href="tel:0096265300700">0096265300700</a></td>
      </tr>
      <tr>
        <td>Fax</td>
        <td>:</td>
        <td>0096265300710</td>
      </tr>
      <tr>
        <td>P.O.Box</td>
        <td>:</td>
        <td>2015 عمان 111181 الاردن</td>
      </tr>
      <tr>
        <td>Email </td>
        <td>:</td>
        <td><a href="mailto:GISWEB@DOS.GOV.JO">GISWEB@DOS.GOV.JO</a></td>
      </tr>
    </tbody>
    </table>

  </div>
</div>
</div>
<div class="col-md-9">
  <iframe
  width="600"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/d/embed?mid=1FgXSPBBvd_hhvSky5lpTqJZVbUk&msa=0&hl=en&ie=UTF8&ll=32.029835%2C35.88089400000001&spn=0%2C0&t=h&iwloc=0004dc08576c4c4d6703b&output=embed&z=17" allowfullscreen>
</iframe>
</div>

</div>
